# Your app id get is from @usetgxbot or my.telegram.org
APP_ID =

# Your app hash get is from @usetgxbot or my.telegram.org
API_HASH =

# Your bot token get it from @botfather
BOT_TOKEN =

# Your telegram channel username
CHANNEL_USERNAME =

# Your telegram channel url for force subscribe
CHANNEL_URL =

# Log channel ID
LOGS =
